<template>
  <div id="app">
    <div id="nav">
      <notifications />
      <b-button
        class="mr-2"
        variant="primary"
        @click="$router.push({ name: 'Home' })"
      >
        Home
      </b-button>
      <b-button
        v-if="user === null"
        variant="primary"
        @click="$router.push({ name: 'SignUp' })"
      >
        Sign Up
      </b-button>
      <b-button
        v-if="user === null"
        class="ml-2"
        variant="primary"
        @click="$router.push({ name: 'Login' })"
      >
        Login
      </b-button>
      <b-button
        v-if="user !== null"
        class="ml-2"
        variant="primary"
        @click="$router.push({ name: 'Profile' })"
      >
        Profile
      </b-button>
      <b-button
        v-if="user !== null"
        class="ml-2"
        variant="primary"
        @click="signout"
      >
        Sign out
      </b-button>
    </div>
    <router-view />
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  computed: {
    ...mapGetters(["user"])
  },
  methods: {
    ...mapActions({
      setUser: "setUserAction"
    }),
    async signout() {
      await this.axios
        .post("http://localhost:8080/api/user/destroySession")
        .then(() => {
          this.setUser(null);
          this.$router.push({ name: "Home" });
        });
    }
  }
};
</script>
<style lang="scss">
#app {
  height: 100vh;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  color: black;
}

#nav {
  padding: 30px;
}
</style>
