<template>
  <b-container>
    <b-row>
      <b-col cols="6" v-if="booking">
        <b-card
          title="Booking information"
          style="background-color: rgba(255, 255, 255, 0.9);"
        >
          <ValidationObserver v-slot="{ invalid }">
            <b-form>
              <b-container fluid>
                <b-row class="mt-2">
                  <b-col cols="6">
                    <ValidationProvider
                      name="Firstname"
                      :rules="{
                        alpha,
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="firstname"
                        placeholder="Enter Firstname"
                        v-model="userCurrent.firstName"
                        :disabled="isLoading"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                      ></b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                  <b-col cols="6">
                    <ValidationProvider
                      name="Surname"
                      :rules="{
                        alpha,
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="surname"
                        v-model="userCurrent.surname"
                        placeholder="Enter Surname"
                        :disabled="isLoading"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                      ></b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                <b-row class="mt-2">
                  <b-col>
                    <ValidationProvider
                      name="phoneNumber"
                      :rules="{
                        customPhoneRegex: phoneRegex,
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors }"
                    >
                      <vue-tel-input
                        placeholder="Enter Phone number"
                        v-model="userCurrent.phoneNumber"
                        :disabled="isLoading"
                      ></vue-tel-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                <b-row class="mt-2">
                  <b-col>
                    <ValidationProvider
                      name="Address"
                      :rules="{
                        regex: addressRegex,
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="address"
                        v-model="userCurrent.address"
                        placeholder="Enter Address"
                        :disabled="isLoading"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                      ></b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                <b-row class="mt-2">
                  <b-col cols="6">
                    <ValidationProvider
                      name="Dob"
                      :rules="{
                        regex: dateRegex,
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="dob"
                        v-model="userCurrent.dob"
                        placeholder="Enter Date Of Birth"
                        :disabled="isLoading"
                        type="date"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                      ></b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                  <b-col cols="6">
                    <ValidationProvider
                      name="E-mail"
                      :rules="{
                        regex: emailRegex,
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="email"
                        placeholder="Enter email"
                        v-model="userCurrent.email"
                        :disabled="isLoading"
                        type="email"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                      ></b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                </b-row>
              </b-container>
            </b-form>
            <b-button
              v-if="!isLoading && user != null"
              class="mt-3 float-left"
              variant="primary"
              @click="myInfo"
              >Use my information</b-button
            >
            <b-button
              v-if="isLoading && user != null"
              class="mt-3 float-left"
              variant="primary"
              disabled
            >
              <b-spinner small type="grow"></b-spinner>
              Loading...
            </b-button>
            <b-button
              v-if="!isLoading"
              class="mt-3 float-right"
              variant="primary"
              :disabled="invalid"
              @click="booking = false"
              >Payment</b-button
            >
            <b-button
              v-else
              class="mt-3 float-right"
              variant="primary"
              disabled
            >
              <b-spinner small type="grow"></b-spinner>
              Loading...
            </b-button>
          </ValidationObserver>
        </b-card>
      </b-col>
      <b-col cols="6" v-if="!booking">
        <b-card
          title="Payment information"
          style="background-color: rgba(255, 255, 255, 0.9);"
        >
          <ValidationObserver v-slot="{ invalid }">
            <b-form>
              <b-container fluid>
                <b-row class="my-1">
                  <b-col cols="2">
                    <label>Card Number</label>
                  </b-col>
                  <b-col>
                    <ValidationProvider
                      name="cardNumber"
                      :rules="{
                        digits: '16',
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="cardNumber"
                        v-model="creditCard.cardNumber"
                        :disabled="isLoading"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                      ></b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                <b-row class="my-1">
                  <b-col cols="2">
                    <label>Card Holder</label>
                  </b-col>
                  <b-col>
                    <ValidationProvider
                      name="cardHolder"
                      :rules="{
                        alpha_spaces,
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="cardHolder"
                        v-model="creditCard.cardHolder"
                        :disabled="isLoading"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                      ></b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                <b-row class="my-1">
                  <b-col cols="2">
                    <label>Expiration Date</label>
                  </b-col>
                  <b-col cols="4">
                    <ValidationProvider
                      name="expirationDate"
                      :rules="{
                        regex: expirationDateRegex,
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="expiration-date"
                        v-model="creditCard.expirationDate"
                        :disabled="isLoading"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                      ></b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                  <b-col offset="1" cols="1">
                    <label>CVV</label>
                  </b-col>
                  <b-col cols="4">
                    <ValidationProvider
                      name="cvv"
                      :rules="{
                        digits: '3',
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="CVV"
                        v-model="creditCard.cvv"
                        :disabled="isLoading"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                      ></b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                </b-row>
              </b-container>
            </b-form>
            <b-button
              v-if="!isLoading && user != null"
              class="mt-3 float-left"
              variant="primary"
              @click="myCards"
              >Use saved credit card</b-button
            >
            <b-button
              v-if="isLoading && user != null"
              class="mt-3 float-left"
              variant="primary"
              disabled
            >
              <b-spinner small type="grow"></b-spinner>
              Loading...
            </b-button>
            <b-button
              v-if="!isLoading"
              class="mt-3 float-right"
              variant="primary"
              :disabled="invalid"
              @click="onPay"
              >Pay</b-button
            >
            <b-button
              v-else
              class="mt-3 float-right"
              variant="primary"
              disabled
            >
              <b-spinner small type="grow"></b-spinner>
              Loading...
            </b-button>
          </ValidationObserver>
        </b-card>
      </b-col>
      <b-col>
        <b-card
          title="Flight Information"
          style="background-color: rgba(255, 255, 255, 0.9);"
        >
          <b-form>
            <b-container>
              <b-row>
                <b-col cols="4">
                  <label class="mt-3">From:</label>
                </b-col>
                <b-col>
                  <b-form-input
                    id="flightFrom"
                    v-model="flight.from"
                    readonly
                    class="mt-3"
                  >
                  </b-form-input>
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="4">
                  <label class="mt-3">To:</label>
                </b-col>
                <b-col>
                  <b-form-input
                    id="flightTo"
                    v-model="flight.to"
                    readonly
                    class="mt-3"
                  >
                  </b-form-input>
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="4">
                  <label class="mt-3">Departure Time:</label>
                </b-col>
                <b-col>
                  <b-form-input
                    id="flightDepartureTime"
                    v-model="flight.departureTime"
                    readonly
                    class="mt-3"
                  >
                  </b-form-input>
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="4">
                  <label class="mt-3">Arrival time:</label>
                </b-col>
                <b-col>
                  <b-form-input
                    id="flightArrivalTime"
                    v-model="flight.arrivalTime"
                    readonly
                    class="mt-3"
                  >
                  </b-form-input>
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="4">
                  <label class="mt-3">Departure Date:</label>
                </b-col>
                <b-col>
                  <b-form-input
                    id="flightDepartureDate"
                    v-model="flight.departureDate"
                    readonly
                    class="mt-3"
                  >
                  </b-form-input>
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="4">
                  <label class="mt-3">Price:</label>
                </b-col>
                <b-col>
                  <b-form-input
                    id="flightPrice"
                    v-model="flight.price"
                    readonly
                    class="mt-3"
                  >
                  </b-form-input>
                </b-col>
              </b-row>
            </b-container>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
    <b-modal size="xl" id="myCards" title="Select a credit card" ok-only>
      <b-table
        striped
        hover
        :items="items"
        :fields="fields"
        :busy="isLoading"
        show-empty
      >
        <template #cell(select)="row">
          <b-button
            variant="success"
            @click="selectCard(row.item)"
            class="mr-2"
          >
            Select
          </b-button>
        </template>
        <template #table-busy>
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>
        <template #empty>
          <div class="text-center my-2">
            You have no saved credit cards
          </div>
        </template>
      </b-table>
    </b-modal>
  </b-container>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import { VueTelInput } from "vue-tel-input";
import "vue-tel-input/dist/vue-tel-input.css";
import { mapGetters } from "vuex";

export default {
  name: "Booking",
  props: {
    flight: Object
  },
  data() {
    return {
      fields: ["expirationDate", "cardHolder", "cardNumber", "select"],
      items: [],
      booking: true,
      creditCard: {
        expirationDate: null,
        cardHolder: null,
        cardNumber: null,
        cvv: null
      },
      userCurrent: {
        email: null,
        address: null,
        dob: null,
        firstName: null,
        surname: null,
        phoneNumber: null
      },
      isLoading: false,
      email: null,
      password: null,
      confirmPassword: null,
      passwordRegex: new RegExp(
        "((?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\\W_]).{6,50})"
      ),
      expirationDateRegex: new RegExp("^(0[1-9]|1[0-2])\\/?([0-9]{2})$"),
      emailRegex: new RegExp(
        "^((([!#$%&'*+\\-/=?^_`{|}~\\w])|([!#$%&'*+\\-/=?^_`{|}~\\w][!#$%&'*+\\-/=?^_`{|}~\\.\\w]{0,}[!#$%&'*+\\-/=?^_`{|}~\\w]))[@]\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*)$"
      ),
      dateRegex: new RegExp(
        "^(\\d{4})\\D?(0[1-9]|1[0-2])\\D?([12]\\d|0[1-9]|3[01])?$"
      ),
      addressRegex: new RegExp("^[\\.a-zA-Z0-9,!? ]*$"),
      phoneRegex: new RegExp(
        "\\+(9[976]\\d|8[987530]\\d|6[987]\\d|5[90]\\d|42\\d|3[875]\\d|2[98654321]\\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|4[987654310]|3[9643210]|2[70]|7|1)\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*(\\d{1,2})$"
      )
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    VueTelInput
  },
  computed: {
    ...mapGetters(["user"])
  },
  methods: {
    myInfo() {
      console.log(this.user);
      this.userCurrent = this.user;
    },
    async myCards() {
      this.isLoading = true;
      await this.axios
        .get("http://localhost:8080/api/payment", {
          params: {
            userID: this.user.user_id
          }
        })
        .then(response => {
          this.items = [];
          if (response.data !== "Unable to get payment information.") {
            response.data.forEach(card => {
              let item = {};
              item.cardHolder = card.cardholderName;
              item.cardNumber = card.personalAccessNumber;
              item.expirationDate = card.expirationDate;
              this.items.push(item);
            });
          }
        });
      this.$bvModal.show("myCards");
      this.isLoading = false;
    },
    selectCard(card) {
      console.log(card);
      this.creditCard.cardHolder = card.cardHolder;
      this.creditCard.expirationDate = card.expirationDate;
      this.creditCard.cardNumber = card.cardNumber;
    },
    async onPay() {
      this.isLoading = true;
      let guestId = null;
      if (this.user === null) {
        await this.axios({
          method: "post",
          url: "http://localhost:8080/api/user",
          data: {
            dob: this.userCurrent.dob,
            firstName: this.userCurrent.firstName,
            lastname: this.userCurrent.lastname,
            address: this.userCurrent.address,
            phoneNumber: this.userCurrent.phoneNumber,
            guest: "true",
            email: this.userCurrent.email
          }
        }).then(response => {
          guestId = response.data;
        });
      }
      await this.axios({
        method: "post",
        url: "http://localhost:8080/api/booking",
        data: {
          status: "Unknown",
          flightID: this.flight.flightId,
          userID: this.user === null ? guestId : this.user.user_id
        }
      })
        .then(response => {
          this.$notify({
            type: "success",
            title: "Success!",
            text: "Your booking id is: " + response.data
          });
          this.$router.push({ name: "Home" });
          this.isLoading = false;
        })
        .catch(error => {
          this.$notify({
            type: "error",
            title: "Error!",
            text: "Please try again"
          });
          this.isLoading = false;
          console.log(error);
        });
    }
  }
};
</script>
