<template>
  <b-container>
    <b-row class="mt-3">
      <b-col cols="6">
        <b-card
          title="Search flights"
          style="background-color: rgba(255, 255, 255, 0.9);"
        >
          <ValidationObserver v-slot="{ invalid }">
            <b-form>
              <b-container>
                <b-row>
                  <b-col cols="2">
                    <label class="mt-3">From</label>
                  </b-col>
                  <b-col cols="1" class="mr-2">
                    <vue-country-code
                      @onSelect="selectCountryFrom"
                      class="mt-3"
                    >
                    </vue-country-code>
                  </b-col>
                  <b-col>
                    <ValidationProvider
                      name="countryFrom"
                      rules="alpha_spaces|required"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="countryFrom"
                        v-model="searchFlight.from"
                        :disabled="isLoading"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                        readonly
                        required
                        class="mt-3"
                      >
                      </b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="2">
                    <label class="mt-3">To</label>
                  </b-col>
                  <b-col cols="1" class="mr-2">
                    <vue-country-code @onSelect="selectCountryTo" class="mt-3">
                    </vue-country-code>
                  </b-col>
                  <b-col>
                    <ValidationProvider
                      name="countryTo"
                      rules="alpha_spaces|required"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="countryTo"
                        v-model="searchFlight.to"
                        :disabled="isLoading"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                        readonly
                        required
                        class="mt-3"
                      >
                      </b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="2">
                    <label class="mt-3">Date</label>
                  </b-col>
                  <b-col>
                    <ValidationProvider
                      name="date"
                      :rules="{
                        regex: dateRegex,
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="date"
                        v-model="searchFlight.dateFrom"
                        :disabled="isLoading"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                        type="date"
                        required
                        class="mt-3"
                      >
                      </b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                </b-row>
              </b-container>
            </b-form>
            <b-button
              v-if="!isLoading"
              class="mt-3 float-right"
              variant="primary"
              :disabled="invalid"
              @click="onSearch"
              >Search</b-button
            >
            <b-button
              v-else
              class="mt-3 float-right"
              variant="primary"
              disabled
            >
              <b-spinner small type="grow"></b-spinner>
              Loading...
            </b-button>
          </ValidationObserver>
        </b-card>
      </b-col>
      <b-col offset="1">
        <b-card
          title="Check your booking"
          style="background-color: rgba(255, 255, 255, 0.9);"
        >
          <ValidationObserver v-slot="{ invalid }">
            <b-form>
              <b-container>
                <b-row>
                  <b-col cols="3">
                    <label class="mt-3">Booking ID</label>
                  </b-col>
                  <b-col>
                    <ValidationProvider
                      name="bookingId"
                      rules="numeric|required"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="bookingId"
                        v-model="bookingId"
                        :disabled="isLoading"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                        required
                        type="number"
                        class="mt-3"
                      >
                      </b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                </b-row>
              </b-container>
            </b-form>
            <b-button
              v-if="!isLoading"
              class="mt-3 float-right"
              variant="primary"
              :disabled="invalid"
              @click="showBookingDetails"
              >Show</b-button
            >
            <b-button
              v-else
              class="mt-3 float-right"
              variant="primary"
              disabled
            >
              <b-spinner small type="grow"></b-spinner>
              Loading...
            </b-button>
          </ValidationObserver>
        </b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col> </b-col>
    </b-row>
    <b-modal id="bookingStatus" title="Booking Status" ok-only>
      <b-form>
        <b-container>
          <b-row class="mt-2">
            <b-col cols="3">
              From:
            </b-col>
            <b-col>
              <b-form-input
                v-model="bookingDetails.fromDestination"
                placeholder="from"
                disabled
              >
              </b-form-input>
            </b-col>
          </b-row>
          <b-row class="mt-2">
            <b-col cols="3">
              To:
            </b-col>
            <b-col>
              <b-form-input
                v-model="bookingDetails.toDestination"
                placeholder="to"
                disabled
              >
              </b-form-input>
            </b-col>
          </b-row>
          <b-row class="mt-2">
            <b-col cols="3">
              Date Departure:
            </b-col>
            <b-col>
              <b-form-input
                v-model="bookingDetails.dateDeparture"
                placeholder="date"
                disabled
              >
              </b-form-input>
            </b-col>
          </b-row>
          <b-row class="mt-2">
            <b-col cols="3">
              Departure Time:
            </b-col>
            <b-col>
              <b-form-input
                v-model="bookingDetails.timeDeparture"
                placeholder="status"
                disabled
              >
              </b-form-input>
            </b-col>
          </b-row>
          <b-row class="mt-2">
            <b-col cols="3">
              Arrival Time:
            </b-col>
            <b-col>
              <b-form-input
                v-model="bookingDetails.timeArrival"
                placeholder="status"
                disabled
              >
              </b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-button
                v-if="!isLoading"
                class="mt-3 float-right"
                variant="primary"
                :disabled="invalid"
                @click="cancelBooking"
                >Cancel Booking</b-button
              >
              <b-button
                v-else
                class="mt-3 float-right"
                variant="primary"
                disabled
              >
                <b-spinner small type="grow"></b-spinner>
                Loading...
              </b-button>
            </b-col>
          </b-row>
        </b-container>
      </b-form>
    </b-modal>
    <b-modal size="xl" id="flightSearch" title="Available Flights" ok-only>
      <b-table
        striped
        hover
        :items="items"
        :fields="fields"
        :busy="isLoading"
        show-empty
      >
        <template #cell(makeBooking)="row">
          <b-button
            variant="success"
            @click="makeBooking(row.item)"
            class="mr-2"
          >
            Booking
          </b-button>
        </template>
        <template #table-busy>
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>
        <template #empty>
          <div class="text-center my-2">
            No available flights for chosen criterias
          </div>
        </template>
      </b-table>
    </b-modal>
  </b-container>
</template>

<script>
import VueCountryCode from "vue-country-code";
import { ValidationObserver, ValidationProvider } from "vee-validate";

export default {
  name: "Home",
  data() {
    return {
      bookingDetails: {
        fromDestination: null,
        toDestination: null,
        dateDeparture: null,
        timeDeparture: null,
        timeArrival: null
      },
      fields: [
        "from",
        "to",
        "departureDate",
        "departureTime",
        "arrivalTime",
        "price",
        "seatsLeft",
        "makeBooking"
      ],
      items: [],
      image: "../assets/background.jpg",
      isLoading: false,
      bookingId: null,
      searchFlight: {
        from: null,
        to: null,
        dateFrom: null
      },
      dateRegex: new RegExp(
        "^(\\d{4})\\D?(0[1-9]|1[0-2])\\D?([12]\\d|0[1-9]|3[01])?$"
      )
    };
  },
  methods: {
    selectCountryFrom({ name }) {
      var index = name.indexOf("(");
      if (index == -1) {
        this.searchFlight.from = name;
      } else {
        this.searchFlight.from = name.substring(0, index - 1);
      }
    },
    selectCountryTo({ name }) {
      var index = name.indexOf("(");
      this.searchFlight.to = name.substring(0, index - 1);
      if (index == -1) {
        this.searchFlight.to = name;
      } else {
        this.searchFlight.to = name.substring(0, index - 1);
      }
    },
    async cancelBooking() {
      this.isLoading = true;
      await this.axios({
        method: "delete",
        url: "http://localhost:8080/api/booking?booking_id=" + this.bookingId,
        data: {
          booking_id: this.bookingId
        }
      })
        .then(response => {
          if (
            response.data ===
            "Booking id: " + this.bookingId + " couldn't be found."
          ) {
            this.$notify({
              type: "error",
              title: "Error!",
              text: "There was an error"
            });
          } else {
            console.log(response);
            this.$notify({
              type: "success",
              title: "Success!",
              text: "Successfuly removed a booking"
            });
          }
          this.$router.push({ name: "Home" });
          this.isLoading = false;
        })
        .catch(error => {
          this.$notify({
            type: "error",
            title: "Error!",
            text: "Please try again"
          });
          this.isLoading = false;
          console.log(error);
        });
      this.$bvModal.hide("bookingStatus");
    },
    makeBooking(flight) {
      console.log(flight.flightId);
      this.$router.push({ name: "Booking", params: { flight: flight } });
    },
    async onSearch() {
      this.isLoading = true;
      this.$bvModal.show("flightSearch");
      console.log(this.searchFlight.dateFrom);
      await this.axios
        .get("http://localhost:8080/api/flight/search", {
          params: {
            fromDestination: this.searchFlight.from,
            toDestination: this.searchFlight.to,
            dateDeparture: this.searchFlight.dateFrom
          }
        })
        .then(response => {
          this.items = [];
          response.data.forEach(flight => {
            console.log(flight);
            let item = {};
            item.from = flight.fromDestination;
            item.to = flight.toDestination;
            item.price = flight.price;
            item.seatsLeft = flight.seatAvailable;
            item.departureTime = flight.timeDeparture;
            item.arrivalTime = flight.timeArrival;
            item.departureDate = flight.dateDeparture;
            item.flightId = flight.flight_id;
            console.log(this.items);
            this.items.push(item);
          });
        });
      this.isLoading = false;
    },
    async showBookingDetails() {
      this.isLoading = true;
      await this.axios
        .get("http://localhost:8080/api/booking", {
          params: { booking_id: this.bookingId }
        })
        .then(response => {
          this.bookingDetails = response.data;
          if (
            response.data ===
            "Booking id: " + this.bookingId + " couldn't be found."
          ) {
            this.$notify({
              type: "error",
              title: "Error!",
              text: "Booking id: " + this.bookingId + " couldn't be found."
            });
          } else {
            this.$bvModal.show("bookingStatus");
          }
        });
      this.isLoading = false;
    }
  },
  components: {
    VueCountryCode,
    ValidationProvider,
    ValidationObserver
  }
};
</script>
