<template>
  <b-container>
    <b-row>
      <b-col offset="2" cols="8">
        <b-card
          title="Login"
          style="background-color: rgba(255, 255, 255, 0.9);"
        >
          <b-form>
            <b-form-input
              id="email"
              v-model="email"
              :disabled="isLoading"
              type="email"
              placeholder="Enter email"
              class="mt-3"
            ></b-form-input>
            <b-form-input
              id="password"
              v-model="password"
              :disabled="isLoading"
              type="password"
              placeholder="Enter password"
              class="mt-3"
            ></b-form-input>
          </b-form>
          <b-button
            v-if="!isLoading"
            class="mt-3 float-right"
            variant="primary"
            :disabled="invalid"
            @click="onSubmit"
            >Login</b-button
          >
          <b-button v-else class="mt-3 float-right" variant="primary" disabled>
            <b-spinner small type="grow"></b-spinner>
            Loading...
          </b-button>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "Login",
  data() {
    return {
      isLoading: false,
      email: null,
      password: null
    };
  },
  methods: {
    ...mapActions({
      setUser: "setUserAction"
    }),
    async onSubmit() {
      this.isLoading = true;
      await this.axios({
        method: "post",
        url: "http://localhost:8080/api/user/sign-in",
        data: {
          email: this.email,
          password: this.password
        }
      })
        .then(response => {
          if (response.data.address) {
            this.$notify({
              type: "success",
              title: "Success!",
              text: "Successfuly logged in"
            });
            this.setUser(response.data);
            this.$router.push({ name: "Home" });
            this.isLoading = false;
          }else if (response.data === "This IP has been blocked for too many failed login attemps, try again in 20 minutes"){ 
             this.$notify({
              type: "error",
              title: "Error!",
              text: "This IP has been blocked for too many failed login attemps, try again in 20 minutes"
            });
            this.isLoading = false;
          }else {
            console.log(response.data);
            this.$notify({
              type: "error",
              title: "Error!",
              text: "Incorrect credentials"
            });
            this.isLoading = false;
          }
        })
        .catch(error => {
          console.log(error);
          this.$notify({
            type: "error",
            title: "Error!",
            text: "Please try again"
          });
          this.isLoading = false;
        });
    }
  }
};
</script>
