<template>
  <b-container>
    <b-row>
      <b-col offset="1" cols="10">
        <b-card
          no-body
          title="Profile"
          style="background-color: rgba(255, 255, 255, 0.9);"
        >
          <b-card-header header-tag="nav">
            <b-nav card-header tabs>
              <b-nav-item
                :active="tab === 1"
                @click="
                  tab = 1;
                  edit = false;
                "
                >My details</b-nav-item
              >
              <b-nav-item :active="tab === 2" @click="getCards()"
                >Payment information</b-nav-item
              >
              <b-nav-item :active="tab === 3" @click="myBookings()"
                >My Bookings</b-nav-item
              >
            </b-nav>
          </b-card-header>
          <b-card-body>
            <b-card-title class="text-center">My details</b-card-title>

            <b-card-text v-if="tab === 1">
              <ValidationObserver v-slot="{ invalid }">
                <b-form>
                  <b-container fluid>
                    <b-row class="my-1">
                      <b-col cols="2">
                        <label>Email</label>
                      </b-col>
                      <b-col>
                        <ValidationProvider
                          name="E-mail"
                          :rules="{
                            regex: emailRegex,
                            required: { allowFalse: false }
                          }"
                          v-slot="{ errors, valid }"
                        >
                          <b-form-input
                            id="email"
                            v-model="userCurrent.email"
                            :disabled="isLoading || !edit"
                            type="email"
                            :state="
                              valid
                                ? !edit
                                  ? null
                                  : valid
                                : errors[0] === undefined
                                ? null
                                : false
                            "
                          ></b-form-input>
                          <span class="ml-1" style="color:red">{{
                            errors[0]
                          }}</span>
                        </ValidationProvider>
                      </b-col>
                    </b-row>
                    <b-row class="my-1">
                      <b-col cols="2">
                        <label>First Name</label>
                      </b-col>
                      <b-col cols="4">
                        <ValidationProvider
                          name="Firstname"
                          :rules="{
                            alpha,
                            required: { allowFalse: false }
                          }"
                          v-slot="{ errors, valid }"
                        >
                          <b-form-input
                            id="firstname"
                            v-model="userCurrent.firstName"
                            :disabled="isLoading || !edit"
                            :state="
                              valid
                                ? !edit
                                  ? null
                                  : valid
                                : errors[0] === undefined
                                ? null
                                : false
                            "
                          ></b-form-input>
                          <span class="ml-1" style="color:red">{{
                            errors[0]
                          }}</span>
                        </ValidationProvider>
                      </b-col>
                      <b-col offset="1" cols="1">
                        <label>Surname</label>
                      </b-col>
                      <b-col cols="4">
                        <ValidationProvider
                          name="Surname"
                          :rules="{
                            alpha,
                            required: { allowFalse: false }
                          }"
                          v-slot="{ errors, valid }"
                        >
                          <b-form-input
                            id="surname"
                            v-model="userCurrent.surname"
                            :disabled="isLoading || !edit"
                            :state="
                              valid
                                ? !edit
                                  ? null
                                  : valid
                                : errors[0] === undefined
                                ? null
                                : false
                            "
                          ></b-form-input>
                          <span class="ml-1" style="color:red">{{
                            errors[0]
                          }}</span>
                        </ValidationProvider>
                      </b-col>
                    </b-row>
                    <b-row class="my-1">
                      <b-col cols="2">
                        <label>Phone number</label>
                      </b-col>
                      <b-col>
                        <ValidationProvider
                          name="phoneNumber"
                          :rules="{
                            customPhoneRegex: phoneRegex,
                            required: { allowFalse: false }
                          }"
                          v-slot="{ errors }"
                        >
                          <vue-tel-input
                            v-model="userCurrent.phoneNumber"
                            :disabled="isLoading || !edit"
                          ></vue-tel-input>
                          <span class="ml-1" style="color:red">{{
                            errors[0]
                          }}</span>
                        </ValidationProvider>
                      </b-col>
                    </b-row>
                    <b-row class="my-1">
                      <b-col cols="2">
                        <label>Address</label>
                      </b-col>
                      <b-col>
                        <ValidationProvider
                          name="Address"
                          :rules="{
                            regex: addressRegex,
                            required: { allowFalse: false }
                          }"
                          v-slot="{ errors, valid }"
                        >
                          <b-form-input
                            id="address"
                            v-model="userCurrent.address"
                            :disabled="isLoading || !edit"
                            :state="
                              valid
                                ? !edit
                                  ? null
                                  : valid
                                : errors[0] === undefined
                                ? null
                                : false
                            "
                          ></b-form-input>
                          <span class="ml-1" style="color:red">{{
                            errors[0]
                          }}</span>
                        </ValidationProvider>
                      </b-col>
                    </b-row>
                    <b-row class="my-1">
                      <b-col cols="2">
                        <label>Date of birth</label>
                      </b-col>
                      <b-col>
                        <ValidationProvider
                          name="Dob"
                          :rules="{
                            regex: dateRegex,
                            required: { allowFalse: false }
                          }"
                          v-slot="{ errors, valid }"
                        >
                          <b-form-input
                            id="dob"
                            v-model="userCurrent.dob"
                            :disabled="isLoading || !edit"
                            type="date"
                            :state="
                              valid
                                ? !edit
                                  ? null
                                  : valid
                                : errors[0] === undefined
                                ? null
                                : false
                            "
                          ></b-form-input>
                          <span class="ml-1" style="color:red">{{
                            errors[0]
                          }}</span>
                        </ValidationProvider>
                      </b-col>
                      <b-col>
                        <b-button
                          v-if="!isLoading && edit"
                          class="float-right"
                          variant="primary"
                          @click="$bvModal.show('changePassword')"
                          >Change Password</b-button
                        >
                      </b-col>
                    </b-row>
                  </b-container>
                  <b-button
                    v-if="!isLoading && !edit"
                    class="float-right"
                    variant="primary"
                    @click="edit = true"
                    >Edit</b-button
                  >
                  <b-button
                    v-if="!isLoading && edit"
                    class="float-right"
                    variant="primary"
                    :disabled="invalid"
                    @click="onSubmit"
                    >Save</b-button
                  >
                  <b-button
                    v-if="isLoading"
                    class="mt-3 float-right"
                    variant="primary"
                    disabled
                  >
                    <b-spinner small type="grow"></b-spinner>
                    Loading...
                  </b-button>
                </b-form>
              </ValidationObserver>
            </b-card-text>
            <b-card-text v-if="tab === 2">
              <b-table
                striped
                hover
                :items="items"
                :fields="fields"
                :busy="isLoading"
                show-empty
              >
                <template #cell(deleteCard)="row">
                  <b-button
                    variant="danger"
                    @click="deleteCard(row.item)"
                    class="mr-2"
                  >
                    Delete
                  </b-button>
                </template>
                <template #cell(cardHolder)>
                  <div>
                    <i>Censored for security reasons</i>
                  </div>
                </template>
                <template #cell(cardNumber)>
                  <div>
                    <i>Censored for security reasons</i>
                  </div>
                </template>
                <template #table-busy>
                  <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong>Loading...</strong>
                  </div>
                </template>
                <template #empty>
                  <div class="text-center my-2">
                    You have no saved credit cards
                  </div>
                </template>
              </b-table>
              <div class="text-center">
                <b-button
                  v-if="!isLoading"
                  class="center"
                  variant="success"
                  :disabled="invalid"
                  @click="$bvModal.show('addCard')"
                >
                  Add another card
                </b-button>
                <b-button
                  v-if="isLoading"
                  class="mt-3 float-right"
                  variant="success"
                  disabled
                >
                  <b-spinner small type="grow"></b-spinner>
                  Loading...
                </b-button>
              </div>
            </b-card-text>
            <b-card-text v-if="tab === 3">
              <b-table
                striped
                hover
                :items="itemsBookings"
                :fields="fieldsBookings"
                :busy="isLoading"
              >
                <template #cell(cancelBooking)="row">
                  <b-button
                    variant="danger"
                    @click="cancelBooking(row.item)"
                    class="mr-2"
                  >
                    Cancel
                  </b-button>
                </template>
                <template #table-busy>
                  <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong>Loading...</strong>
                  </div>
                </template>
              </b-table>
            </b-card-text>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
    <ValidationObserver v-slot="{ invalid }">
      <b-modal
        id="addCard"
        title="Add a card"
        :ok-disabled="invalid"
        @ok="addCard"
      >
        <b-form>
          <b-container fluid>
            <b-row class="my-1">
              <b-col cols="2">
                <label>Card Number</label>
              </b-col>
              <b-col>
                <ValidationProvider
                  name="cardNumber"
                  :rules="{
                    digits: '16',
                    required: { allowFalse: false }
                  }"
                  v-slot="{ errors, valid }"
                >
                  <b-form-input
                    id="cardNumber"
                    v-model="creditCard.personalAccessNumber"
                    :disabled="isLoading"
                    :state="
                      valid ? valid : errors[0] === undefined ? null : false
                    "
                  ></b-form-input>
                  <span class="ml-1" style="color:red">{{ errors[0] }}</span>
                </ValidationProvider>
              </b-col>
            </b-row>
            <b-row class="my-1">
              <b-col cols="2">
                <label>Card Holder</label>
              </b-col>
              <b-col>
                <ValidationProvider
                  name="cardHolder"
                  :rules="{
                    alpha_spaces,
                    required: { allowFalse: false }
                  }"
                  v-slot="{ errors, valid }"
                >
                  <b-form-input
                    id="cardHolder"
                    v-model="creditCard.cardholderName"
                    :disabled="isLoading"
                    :state="
                      valid ? valid : errors[0] === undefined ? null : false
                    "
                  ></b-form-input>
                  <span class="ml-1" style="color:red">{{ errors[0] }}</span>
                </ValidationProvider>
              </b-col>
            </b-row>
            <b-row class="my-1">
              <b-col cols="2">
                <label>Expiration Date</label>
              </b-col>
              <b-col cols="4">
                <ValidationProvider
                  name="expirationDate"
                  :rules="{
                    regex: expirationDateRegex,
                    required: { allowFalse: false }
                  }"
                  v-slot="{ errors, valid }"
                >
                  <b-form-input
                    id="expiration-date"
                    v-model="creditCard.expirationDate"
                    :disabled="isLoading"
                    :state="
                      valid ? valid : errors[0] === undefined ? null : false
                    "
                  ></b-form-input>
                  <span class="ml-1" style="color:red">{{ errors[0] }}</span>
                </ValidationProvider>
              </b-col>
            </b-row>
          </b-container>
        </b-form>
      </b-modal>
    </ValidationObserver>
    <ValidationObserver v-slot="{ invalid }">
      <b-modal
        id="changePassword"
        title="Change Password"
        :ok-disabled="invalid"
        @ok="changePassword"
      >
        <b-form>
          <b-container fluid>
            <b-row class="my-1">
              <b-col cols="2">
                <label>New Password</label>
              </b-col>
              <b-col>
                <ValidationProvider
                  name="newPassword"
                  :rules="{
                    regex: passwordRegex,
                    required: { allowFalse: false }
                  }"
                  v-slot="{ errors, valid }"
                >
                  <b-form-input
                    type="password"
                    id="newPassword"
                    v-model="newPassword"
                    :disabled="isLoading"
                    :state="
                      valid ? valid : errors[0] === undefined ? null : false
                    "
                  ></b-form-input>
                  <span class="ml-1" style="color:red">{{ errors[0] }}</span>
                </ValidationProvider>
              </b-col>
            </b-row>
            <b-row class="my-1">
              <b-col cols="2">
                <label>Old Password</label>
              </b-col>
              <b-col>
                <b-form-input
                  type="password"
                  id="oldPassword"
                  v-model="oldPassword"
                  :disabled="isLoading"
                ></b-form-input>
              </b-col>
            </b-row>
          </b-container>
        </b-form>
      </b-modal>
    </ValidationObserver>
  </b-container>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import { VueTelInput } from "vue-tel-input";
import "vue-tel-input/dist/vue-tel-input.css";
import { mapGetters } from "vuex";

export default {
  name: "Profile",
  created() {
    this.userCurrent = this.user;
  },
  data() {
    return {
      oldPassword: "",
      newPassword: "",
      passwordRegex: new RegExp(
        "((?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\\W_]).{8,20})"
      ),
      fields: ["cardNumber", "cardHolder", "expirationDate", "deleteCard"],
      items: [],
      fieldsBookings: [
        "from",
        "to",
        "departureDate",
        "departureTime",
        "arrivalTime",
        "status",
        "cancelBooking"
      ],
      itemsBookings: [],
      isLoading: false,
      email: null,
      password: null,
      tab: 1,
      edit: false,
      creditCard: {
        cardholderName: null,
        personalAccessNumber: null,
        expirationDate: null
      },
      userCurrent: {
        email: null,
        firstName: null,
        surname: null,
        dob: null,
        address: null,
        phoneNumber: null
      },
      emailRegex: new RegExp(
        "^((([!#$%&'*+\\-/=?^_`{|}~\\w])|([!#$%&'*+\\-/=?^_`{|}~\\w][!#$%&'*+\\-/=?^_`{|}~\\.\\w]{0,}[!#$%&'*+\\-/=?^_`{|}~\\w]))[@]\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*)$"
      ),
      expirationDateRegex: new RegExp("^(0[1-9]|1[0-2])\\/?([0-9]{2})$"),
      dateRegex: new RegExp(
        "^(\\d{4})\\D?(0[1-9]|1[0-2])\\D?([12]\\d|0[1-9]|3[01])?$"
      ),
      addressRegex: new RegExp("^[\\.a-zA-Z0-9,!? ]*$"),
      phoneRegex: new RegExp(
        "\\+(9[976]\\d|8[987530]\\d|6[987]\\d|5[90]\\d|42\\d|3[875]\\d|2[98654321]\\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|4[987654310]|3[9643210]|2[70]|7|1)\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*(\\d{1,2})$"
      )
    };
  },
  computed: {
    ...mapGetters(["user"])
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    VueTelInput
  },
  methods: {
    async deleteCard(card) {
      this.isLoading = true;
      await this.axios({
        method: "delete",
        url: "http://localhost:8080/api/payment?card_id=" + card.cardId,
        data: {
          card_id: card.cardId
        }
      })
        .then(response => {
          if (response.data === "") {
            this.$notify({
              type: "error",
              title: "Error!",
              text: "There was an error"
            });
          } else {
            console.log(response);
            this.$notify({
              type: "success",
              title: "Success!",
              text: "Successfuly added a credit card"
            });
          }
          this.tab = 1;
          this.$router.push({ name: "Profile" });
          this.isLoading = false;
        })
        .catch(error => {
          this.$notify({
            type: "error",
            title: "Error!",
            text: "Please try again"
          });
          this.isLoading = false;
          console.log(error);
        });
    },
    async cancelBooking(booking) {
      this.isLoading = true;
      await this.axios({
        method: "delete",
        url:
          "http://localhost:8080/api/booking?userID=" +
          this.user.user_id +
          "&flightID=" +
          booking.flight_id,
        data: {
          userID: booking.flight_id,
          flightID: this.user.user_id
        }
      })
        .then(response => {
          if (response.data === "") {
            this.$notify({
              type: "error",
              title: "Error!",
              text: "There was an error"
            });
          } else {
            console.log(response);
            this.$notify({
              type: "success",
              title: "Success!",
              text: "Successfuly cancelled a booking"
            });
          }
          this.tab = 1;
          this.$router.push({ name: "Profile" });
          this.isLoading = false;
        })
        .catch(error => {
          this.$notify({
            type: "error",
            title: "Error!",
            text: "Please try again"
          });
          this.isLoading = false;
          console.log(error);
        });
    },
    notValidCard(date) {
      if (date.charAt(3) < 2) {
        return false;
      }
      if (date.charAt(3) == 2 && date.charAt(4) == 0) {
        return false;
      }
      if (
        date.charAt(3) == 2 &&
        date.charAt(4) == 1 &&
        date.charAt(0) == 0 &&
        date.charAt(1) <= 5
      ) {
        return false;
      }
      return true;
    },
    async addCard() {
      this.isLoading = true;
      if (!this.notValidCard(this.creditCard.expirationDate)) {
        this.$notify({
          type: "error",
          title: "Error!",
          text: "Invalid expiration date"
        });
        this.isLoading = false;
      } else {
        await this.axios({
          method: "post",
          url: "http://localhost:8080/api/payment",
          data: {
            userID: this.user.user_id,
            cardholderName: this.creditCard.cardholderName,
            personalAccessNumber: this.creditCard.personalAccessNumber,
            expirationDate: this.creditCard.expirationDate
          }
        })
          .then(response => {
            if (response.data === "Payment details couldn't be saved") {
              this.$notify({
                type: "error",
                title: "Error!",
                text: "There was an error"
              });
            } else {
              console.log(response);
              this.$notify({
                type: "success",
                title: "Success!",
                text: "Successfuly added a credit card"
              });
            }
            this.tab = 1;
            this.$router.push({ name: "Profile" });
            this.isLoading = false;
          })
          .catch(error => {
            this.$notify({
              type: "error",
              title: "Error!",
              text: "Please try again"
            });
            this.isLoading = false;
            console.log(error);
          });
      }
    },
    async changePassword() {
      this.isLoading = true;
      await this.axios({
        method: "post",
        url:
          "http://localhost:8080/api/updatepassword",
        data: {
          oldPassword: this.oldPassword,
          newPassword: this.newPassword
        }
      })
        .then(response => {
          if (response.data !== "success") {
            this.$notify({
              type: "error",
              title: "Error!",
              text: "There was an error"
            });
          } else {
            console.log(response);
            this.$notify({
              type: "success",
              title: "Success!",
              text: "Successfuly changed password"
            });
          }
        })
        .catch(error => {
          this.$notify({
            type: "error",
            title: "Error!",
            text: "Please try again"
          });
          this.isLoading = false;
          console.log(error);
        });
    },
    async getCards() {
      this.tab = 2;
      this.edit = false;
      this.isLoading = true;
      await this.axios
        .get("http://localhost:8080/api/payment", {
          params: {
            userID: this.user.user_id
          }
        })
        .then(response => {
          this.items = [];
          response.data.forEach(card => {
            let item = {};
            item.cardHolder = card.cardholderName;
            item.cardNumber = card.personalAccessNumber;
            item.expirationDate = card.expirationDate;
            item.cardId = card.card_id;
            this.items.push(item);
          });
        });
      this.isLoading = false;
    },
    async myBookings() {
      this.tab = 3;
      this.edit = false;
      this.isLoading = true;
      await this.axios
        .get("http://localhost:8080/api/booking", {
          params: {
            userID: this.user.user_id
          }
        })
        .then(response => {
          this.itemsBookings = [];
          response.data.forEach(booking => {
            console.log(booking);
            let item = {};
            item.from = booking.fromDestination;
            item.to = booking.toDestination;
            item.departureTime = booking.timeDeparture;
            item.arrivalTime = booking.timeArrival;
            item.departureDate = booking.dateDeparture;
            item.status = booking.status;
            item.booking_id = booking.booking_id;
            item.flight_id = booking.flight_id;
            this.itemsBookings.push(item);
          });
        });
      this.isLoading = false;
    },
    async onSubmit() {
      console.log(this.user);
      this.isLoading = true;
      await this.axios({
        method: "post",
        url:
          "http://localhost:8080/api/user/update?user_id=" + this.user.user_id,
        data: {
          firstName: this.userCurrent.firstName,
          email: this.userCurrent.email,
          surname: this.userCurrent.surname,
          phoneNumber: this.userCurrent.phoneNumber,
          dob: this.userCurrent.dob,
          address: this.userCurrent.address
        }
      })
        .then(response => {
          if (response.data === "Unable to update user information.") {
            this.$notify({
              type: "error",
              title: "Error!",
              text: "Unable to update user information."
            });
            this.$router.push({ name: "Profile" });
            this.edit = false;
            this.isLoading = false;
          } else {
            this.$notify({
              type: "success",
              title: "Success!",
              text: "Successfuly updated your information"
            });
            this.$router.push({ name: "Profile" });
            this.edit = false;
            this.isLoading = false;
          }
        })
        .catch(error => {
          this.$notify({
            type: "error",
            title: "Error!",
            text: "Please try again"
          });
          this.isLoading = false;
          console.log(error);
        });
    }
  }
};
</script>
