<template>
  <b-container>
    <b-row>
      <b-col offset="2" cols="8">
        <b-card
          title="Sign up"
          style="background-color: rgba(255, 255, 255, 0.9);"
        >
          <ValidationObserver v-slot="{ invalid }">
            <b-form>
              <b-container fluid>
                <b-row class="mt-2">
                  <b-col cols="6">
                    <ValidationProvider
                      name="Firstname"
                      :rules="{
                        alpha,
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="firstname"
                        placeholder="Enter Firstname"
                        v-model="user.firstName"
                        :disabled="isLoading"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                      ></b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                  <b-col cols="6">
                    <ValidationProvider
                      name="Surname"
                      :rules="{
                        alpha,
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="surname"
                        v-model="user.surname"
                        placeholder="Enter Surname"
                        :disabled="isLoading"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                      ></b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                <b-row class="mt-2">
                  <b-col>
                    <ValidationProvider
                      name="phoneNumber"
                      :rules="{
                        customPhoneRegex: phoneRegex,
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors }"
                    >
                      <vue-tel-input
                        placeholder="Enter Phone number"
                        v-model="user.phoneNumber"
                        :disabled="isLoading"
                      ></vue-tel-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                <b-row class="mt-2">
                  <b-col>
                    <ValidationProvider
                      name="Address"
                      :rules="{
                        regex: addressRegex,
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="address"
                        v-model="user.address"
                        placeholder="Enter Address"
                        :disabled="isLoading"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                      ></b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                <b-row class="mt-2">
                  <b-col cols="6">
                    <ValidationProvider
                      name="Dob"
                      :rules="{
                        regex: dateRegex,
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="dob"
                        v-model="user.dob"
                        placeholder="Enter Date Of Birth"
                        :disabled="isLoading"
                        type="date"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                      ></b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                  <b-col cols="6">
                    <ValidationProvider
                      name="E-mail"
                      :rules="{
                        regex: emailRegex,
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="email"
                        placeholder="Enter email"
                        v-model="user.email"
                        :disabled="isLoading"
                        type="email"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                      ></b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                <b-row class="mt-2">
                  <b-col cols="6">
                    <ValidationProvider
                      name="Password"
                      :rules="{
                        regex: passwordRegex,
                        required: { allowFalse: false }
                      }"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="password"
                        v-model="user.password"
                        :disabled="isLoading"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                        type="password"
                        placeholder="Enter password"
                        required
                        class="mt-2"
                      ></b-form-input>
                      <b-tooltip target="password" triggers="hover">
                        Password requires at least 1 lower case character, 1
                        upper case character, 1 number, 1 special character, 1
                        punctuation and must be between 8 and 20 characters
                        long.
                      </b-tooltip>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                  <b-col cols="6">
                    <ValidationProvider
                      name="confirmPassword"
                      rules="required|confirmed:Password"
                      v-slot="{ errors, valid }"
                    >
                      <b-form-input
                        id="confirm-password"
                        v-model="confirmPassword"
                        :disabled="isLoading"
                        :state="
                          valid ? valid : errors[0] === undefined ? null : false
                        "
                        type="password"
                        placeholder="Confirm password"
                        required
                        class="mt-2"
                      ></b-form-input>
                      <span class="ml-1" style="color:red">{{
                        errors[0]
                      }}</span>
                    </ValidationProvider>
                  </b-col>
                </b-row>
              </b-container>
            </b-form>
            <b-button
              v-if="!isLoading"
              class="mt-3 float-right"
              variant="primary"
              :disabled="invalid"
              @click="onSubmit"
              >Sign up</b-button
            >
            <b-button
              v-else
              class="mt-3 float-right"
              variant="primary"
              disabled
            >
              <b-spinner small type="grow"></b-spinner>
              Loading...
            </b-button>
          </ValidationObserver>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import { VueTelInput } from "vue-tel-input";
import { mapActions } from "vuex";
import "vue-tel-input/dist/vue-tel-input.css";

export default {
  name: "Signup",
  data() {
    return {
      user: {
        email: null,
        address: null,
        dob: null,
        firstName: null,
        surname: null,
        phoneNumber: null,
        password: null
      },
      isLoading: false,
      confirmPassword: null,
      passwordRegex: new RegExp(
        "((?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\\W_]).{8,20})"
      ),
      emailRegex: new RegExp(
        "^((([!#$%&'*+\\-/=?^_`{|}~\\w])|([!#$%&'*+\\-/=?^_`{|}~\\w][!#$%&'*+\\-/=?^_`{|}~\\.\\w]{0,}[!#$%&'*+\\-/=?^_`{|}~\\w]))[@]\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*)$"
      ),
      dateRegex: new RegExp(
        "^(\\d{4})\\D?(0[1-9]|1[0-2])\\D?([12]\\d|0[1-9]|3[01])?$"
      ),
      addressRegex: new RegExp("^[\\.a-zA-Z0-9,!? ]*$"),
      phoneRegex: new RegExp(
        "\\+(9[976]\\d|8[987530]\\d|6[987]\\d|5[90]\\d|42\\d|3[875]\\d|2[98654321]\\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|4[987654310]|3[9643210]|2[70]|7|1)\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*\\d\\W*(\\d{1,2})$"
      )
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    VueTelInput
  },
  methods: {
    ...mapActions({
      setUser: "setUserAction"
    }),
    async onSubmit() {
      this.isLoading = true;
      await this.axios({
        method: "post",
        url: "http://localhost:8080/api/user/sign-up",
        data: this.user
      })
        .then(response => {
          console.log(response.data);
          this.$notify({
            type: "success",
            title: "Success!",
            text: "Account was successfuly created"
          });
          this.$router.push({ name: "Login" });
          this.isLoading = false;
        })
        .catch(error => {
          console.log(error);
          this.$notify({
            type: "error",
            title: "Error!",
            text: "Please try again"
          });
          this.isLoading = false;
        });
    }
  }
};
</script>
